<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tugas EAS Jarkom </title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-md">
        <a class="navbar-brand" href="#">Admin kampus</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active mx-3" href="/eas_jarkom">Mahasiswa</a>
            <a class="nav-link active mx-3" href="/jurusan">Dosen</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1 class="text-center">Tabel Dosen</h1>
      <button
        class="btn btn-success mb-5 "
        data-toggle="modal"
        data-target="#myModalAdd"
      >Tambah Baru</button>
      
      <table class="table table-hover" id="mytable">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama Jurusan</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          {{#each results}}
            <tr>
              <td>{{id_jurusan}}</td>
              <td>{{nama}}</td>
              <td>
                <a
                  href="javascript:void(0);"
                  class="btn btn-sm btn-info edit"
                  data-id="{{id_jurusan}}"
                  data-nama="{{nama}}"
                >Edit</a>
                <a
                  href="javascript:void(0);"
                  class="btn btn-sm btn-danger delete"
                  data-id="{{id_jurusan}}"
                >Delete</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <!-- Tambah data jurusan-->
    <form action="/simpan" method="post">
      <div
        class="modal fade"
        id="myModalAdd"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Tambah data jurusan</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input
                  type="text"
                  name="nama"
                  class="form-control"
                  placeholder="Masukan NAMA jurusan "
                  required
                />
              </div>
              
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >Close</button>
              <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Edit tabel-->
    <form action="/perbarui" method="post">
      <div
        class="modal fade"
        id="EditModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Data jurusan</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input
                  type="text"
                  name="nama"
                  class="form-control nama"
                  placeholder="masukan Nama jurusan "
                  required
                />
              </div>

             
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="id_jurusan" />
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >Batal</button>
              <button type="submit" class="btn btn-primary">Perbarui</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- hapus tabel-->
    <form id="add-row-form" action="/hapus" method="post">
      <div
        class="modal fade"
        id="DeleteModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Hapus Data</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              ><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <strong>apa anda yakin hapus data ini?</strong>
            </div>
            <div class="modal-footer">
              <input
                type="hidden"
                name="id_jurusan"
                class="form-control product_id2"
                required
              />
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >Batal</button>
              <button type="submit" class="btn btn-success">Hapus</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <script src="/assets/js/jquery-3.3.1.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    
    <script>
      $(document).ready(function(){ //menampilkan data untuk di edit
      $('#mytable').on('click','.edit',function(){ var id_jurusan =
      $(this).data('id'); var nama = $(this).data('nama'); 
      $('#EditModal').modal('show'); $('.nama').val(nama);
      $('.id_jurusan').val(id_jurusan); });
      //manampilkan data untuk dihapus
      $('#mytable').on('click','.delete',function(){ var id_jurusan =
      $(this).data('id'); $('#DeleteModal').modal('show');
      $('.product_id2').val(id_jurusan); }); });
    </script>
  </body>
</html>